<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <h1>heloo ejs</h1>

    <ul>
    <% for (let comment of comments){%>
        <li><span><%= comment.comment %></span> - <%= comment.username   %></li>
        <a href="/comments/<%=comment.id %>">details</a>
        <% } %>
        
    </ul>
    <a href="comments/new">create</a>

</body>
</html>