<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A comment</h1>
    <p>the username is <b style="color: red;" ><%= comment.username %></b></p>
    <p>the id is <b style="color: red;"> <%= comment.id %> </b></p>
    <p>the comment is</p>
    <p style="color: red;"><%= comment.comment %></p>

    <a href="/comments">start</a>

</body>
</html>


