
body {
    width: 80%;
    margin: 0 auto;
    
}
menu{
    margin:  0;
    padding: 0;
}

#author{
    display: flex;
    justify-content: right;
    text-decoration-line: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
#author:hover{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0d44bb;
    font-weight: 800;
}




/** starWars the sprites **/

#outerBox{
    width: 1000px;
    height: 500px;
    border:  solid 5px  rgba(31, 40, 168, 0.8);
    background-size: contain;
    background-color: rgba(31, 40, 168, 01);
}

#outerInnerBox{
    border-radius: 50px 50px 50px 50px ;
    border:  solid 3px  rgba(122, 150, 0, 0.8);
    box-shadow: -5px 10px 15px 15px inset rgb(41, 39, 39);

    border-bottom: none;
    border-left: none ;
    background-color: white;

    width:999px;
    height:499px;
}





footer{
    margin: 100px;
}

.searchBox{
    margin-top: 3rem;
    /**margin-left: ;*/
    display: flex;
    width: min-content;
    border: solid black 1px;
    border-radius: 0 5px 5px 0;
    border-left: none ;

}


#searchLabel{
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: auto;
    background-color: #0d44bb8c;
    width: 50px;
    height: 25px;
    border: solid #0d44bb 1px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}



.moveSellection{
    display: flex;
    justify-content: space-around;
    width: min-content;
    margin-top: 5px;
    width: auto;
    height: 150px;
    border: #0d44bb solid 1px;
}

#br3{
    background-color: rgba(32, 27, 27, 0.1);
    
    border: solid transparent 2px;
    border-radius: 12px 0 0 12px;
    border-right: none;

    width: 99.6%;
    height: 99%;


}

#br2{
    border: solid black 1px;
    border-radius: 12px 0 0 12px;
    border-right: none;
    height: 247px;



    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-right: 35px;
}

.movieInfoData{

    margin-left: 35px;
    margin-right: -1px;
    overflow-y: scroll;
    height: 244px;


}